<div>
    <h3 class="head_z" ng-hide="clickEdit">{{"CHANGE_PASSWORD" | translate}}
        <a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('CHANGE_PASSWORD', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && currentUser.currentUser.languageOption">
            <i class="material-icons edit_label_size">mode_edit</i>
        </a>
    </h4>
    <div class="wrap-padding form-bg clearfix">
    <form name="form1">
        <div class="col-md-12">
            <div class="form-group">
                <label for="password">{{"CURRENT_PASSWORD" | translate}}
                    <a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('CURRENT_PASSWORD', identity.currentUser.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && currentUser.currentUser.languageOption">
                        <i class="material-icons edit_label_size">mode_edit</i>
                    </a>
                </label>
                <br>
                <input type="password" placeholder="Current Password"name="password"  ng-model="password" class="form-control" id="password" ng-blur="checkPassword(password,password,identity.app_users._id)" tabindex="1">
            </div>
            <span ng-show="error" style="color:red">{{error}}</span>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="pass2">{{"NEW_PASSWORD" | translate}}
                    <a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('NEW_PASSWORD', identity.currentUser.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && currentUser.currentUser.languageOption">
                        <i class="material-icons edit_label_size">mode_edit</i>
                    </a>
                </label>
                <br>
                <input type="password" placeholder="New Password" name="pass2" ng-keypress="clearPassword()" ng-model="pass2" class="form-control" id="pass2" required tabindex="2">
            </div>
            <span style="color:red" ng-show="submitted && form1.pass2.$error.required">Required field</span>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="pass3">{{"CONFIRM_PASSWORD" | translate}}
                    <a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('CONFIRM_PASSWORD', identity.currentUser.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && currentUser.currentUser.languageOption">
                        <i class="material-icons edit_label_size">mode_edit</i>
                    </a>
                </label>
                <br>
                <input type="password" placeholder="Confirm Password"name="pass3" ng-model="pass3" class="form-control" id="pass3" pw-check="pass2" password-verify="pass2" required tabindex="3">
            </div>
            <span style="color:red" ng-show="submitted && form1.pass3.$error.required">Required field</span>
            <span style="color:red" ng-show="form1.pass3.$error.passwordVerify">Password do not match</span>
        </div>
        
        
        <div class="col-md-12">
            
            <div class="pull-right ptop_5">
                
                <button type="button" class="btn btn-primary btn-sm" ng-disabled="error" ng-click="changePassword(pass2,identity.app_users._id)" data-dismiss="modal" tabindex="4">{{"CHANGE_PASSWORD" | translate}}</button>
                <a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('CHANGE_PASSWORD', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && currentUser.currentUser.languageOption">
                    <i class="material-icons edit_label_size">mode_edit</i>
                </a>
            </div>
        </div>
    </form>
    </div>
</div>
