<div ng-init="getOrganization(identity.customerId)">
    <h3 class="head_z">{{"ORGANIZATION" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('ORGANIZATION', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                         <i class="material-icons edit_label_size">mode_edit</i>
                    </a></h4>
    <div class="wrap-padding form-bg clearfix" >
        <div class="error_align">
            <form name='organizationDetail'>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="name"> {{"NAME" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('NAME', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a>
                        </label>
                        <br>
                        <input type="text" class="form-control" placeholder="Name" ng-model="updateorganization.organization_detail.companyName" tabindex="1">
                     </div>
                 </div>
           
                    
            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email"> {{"EMAIL" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('EMAIL', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                        <input type="email" class="form-control" placeholder="Email" ng-model="updateorganization.email" tabindex="2">
                    
                    </div>
                </div>
            
            
                <div class="col-md-6">
                    <div class="form-group">
                     <label for="phone-number"> {{"PHONE_NUMBER" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('PHONE_NUMBER', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                        <input type="number" class="form-control" placeholder="Phone Number" ng-model="updateorganization.organization_detail.phone_number" tabindex="3">
                    
                    </div>
                </div>
           
            
                <div class="col-md-6" >
                    <div class="form-group">
                        <label for="street"> {{"STREET" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('STREET', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                        <input type="text" class="form-control" placeholder="STREET" ng-model=" updateorganization.organization_detail.address.street" tabindex="4">
                    
                    </div>
                </div>
           
            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city"> {{"CITY" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('CITY', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                        <input type="text" class="form-control" placeholder="City" ng-model="updateorganization.organization_detail.address.city" tabindex="5">
                    </div>
                 </div>
            
           
                <div class="col-md-6" >
                    <div class="form-group">
                        <label for="country"> {{"COUNTRY" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('COUNTRY', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                        <select class="form-control" ng-model="updateorganization.organization_detail.address.country" placeholder="Country" tabindex="6">
                     <option ng-repeat="country in countrylist" value="{{country.countryCode}}">{{country.countryName}}</option>
                     </select>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="website"> {{"WEBSITE" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('WEBSITE', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                     <input type="text" class="form-control" placeholder="Website" ng-model="updateorganization.organization_detail.website" tabindex="7">
                    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="industry"> {{"INDUSTRY" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('INDUSTRY', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                             <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                        <select class="form-control" ng-model="updateorganization.organization_detail.industry" placeholder="industry" tabindex="8">
                        <option ng-repeat="industry in industrylist" value="{{industry.name}}">{{industry.name}}</option>
                        </select>
                    
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="industry"> {{"UPLOAD_LOGO" | translate}}<a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('UPLOAD_LOGO', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                            <i class="material-icons edit_label_size">mode_edit</i>
                        </a></label>
                        <br>
                        <input type="file" ngf-select ng-model="updateorganization.organization_detail.logo" name="logo" ngf-max-size="1MB" validimage ng-click="invalidImage=false" accept="image/jpeg" />
                        <p ng-show="organizationDetail.logo.$error.maxSize" style="color:red">File too large {{updateorganization.organization_detail.logo.size / 1000000|number:1}}MB: max 5MB</p>
                        <p ng-show="invalidImage" style="color:red">Wrong image type. Supported image type: jpeg</p>

                        <img ng-src="{{currentUser.currentUser.logo}}"  class="m-top" align="left" >

                    </div>
                </div>

                <div class="pull-right ptop_5">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="updateOrganization(updateorganization,identity.customerId)" tabindex="10" ng-disabled="organizationDetail.logo.$error.maxSize || invalidImage"> {{"UPDATE" | translate}}</button>
                    <a href="" title="Edit label" data-template-url="editlang.html" ng-click="getLabelDetails('UPDATE', identity.customerId)" placement="bottom" data-auto-close="1" bs-popover ng-show="currentUser.isAuthenticated() && currentUser.isAuthorized('admin') && identity.languageOption">
                         <i class="material-icons edit_label_size">mode_edit</i>
                    </a>
                    
                </div>
            </form>
        
        </div>
    </div>
</div>
